
*.db
*.opendb
*.user
Neptune/.vs/Neptune/v14/.suo
*.obj
*.pch
*.tlog
*.log
*.exe
*.res
Neptune/Neptune/GeneratedFiles/ui_Neptune.h
Neptune/Neptune/GeneratedFiles/Release/moc_Neptune.cpp
Neptune/Neptune/GeneratedFiles/qrc_Neptune.cpp
*.ipch
*.dll
*.pdb
*.ilk
Neptune/Neptune/GeneratedFiles/Debug/moc_Neptune.cpp
